.App {
  text-align: center;
    
}


.navheader {
     margin-top: 10px;
     color :black !important;
     background-color: #b3beca !important;
}

.PageHeading
 {
     margin-top: 10px;
     margin-bottom: 10px;
     color :black !important; 
}
.SearchJobs{

}
a {
    display: block;
    padding: 8px;
    font-weight: bold;
    color: #fff;
}
a:hover{
   color: #dddddd;
}
li {
    display: inline;
}
.card {
    background-color: #d9d9d9;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);

}