/* Provide sufficient contrast against white background */
a {
  color: #ffffff;
}
.title{
    text-align: center;
    font-size: 5em;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: blue;
}
code {
  color: #E01A76;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.App {
  text-align: center;
}


.navheader {
margin-top: 10px;
color :black !important;
background-color: #1771d4 !important;
}


.PageHeading
{
margin-top: 10px;
margin-bottom: 10px;
color :black !important;
} 