/* Provide sufficient contrast against white background */
a {
  color: #ffffff;
}
.title{
    text-align: center;
    font-size: 5em;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: blue;
}
code {
  color: #E01A76;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.App {
  text-align: center;
}


.navheader {
margin-top: 10px;
color :black !important;
background-color: #1771d4 !important;
}
.AppBar {
    background-color: #007bff;
    border-color: #007bff;
   
}
.justify-content-center {
    margin-top: 20px;
}
.PageHeading {
    margin-top: 10px;
    margin-bottom: 10px;
    color: black !important;
} 
.card-group{
    height: 100%;
}
.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.55em !important;
}
.search-table{
    height: 950px;
}
.search-table-profile {
    height: 1000px;
}
.job-from{
    height: 900px;

}
.search-bar {
    background-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.MuiDataGrid-root .MuiDataGrid-columnSeparator {
    display: none !important;
}
.MuiDataGrid-root .MuiDataGrid-colCell:hover .MuiDataGrid-menuIcon, .MuiDataGrid-root .MuiDataGrid-menuOpen {
    visibility: hidden !important;
}
.MuiDataGrid-selectedRowCount{
    display:none;    
}
.MuiDataGrid-footer > div:not(.MuiTablePagination-root) {
    display: none;
}
.MuiDataGrid-root {
    background-color: white;
   
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}
.MuiDataGrid-row{
    max-height: 100px !important;
    min-height: 100px !important;
}
.MuiDataGrid-cell MuiDataGrid-cellLeft {
    min-height: 100px !important;
}
.MuiDataGrid-root .MuiDataGrid-cellLeft {
    max-height: 100px !important;
    min-height: 100px !important;
    white-space: unset !important;
}

.scroll {
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}
.MuiDataGrid-row {
    cursor: pointer;
}

.float-container {
    border: 3px solid #fff;
   
    height: 800px;
}

.float-child {
    width: 30%;
    float: left; 
}
.float-child-job {
    width: 70%;
    float: left;
}
.job-card{
    height: 800px;
    background-color: white;
}
.MuiDataGrid-cell{
    font-size: 1.3em;
}
.company-logo {
    height: 100px;
    object-fit: contain;
}

.job-button {
    height: 50px;
    display: block;
    padding: 8px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    float: right;
}
.react-search-field-button {
    background-color: #007bff;
    color: #fff;
}
.job-container {
    overflow: auto;
    height: 770px;
}
.companny-url{
    color:Highlight;
    text-decoration:underline;
    padding: unset;

}
.companny-url:hover {
    color: Highlight;
    text-decoration: underline;
    padding: unset;
}
.job-saved {
    text-align: end;
}
.search-history {
    background-color: white;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
    overflow-x: auto !important;
    white-space: nowrap;
    margin-bottom: 20px;
}

.search-row { 
    display: flex !important;
}
.search-cell {
    font-weight: bold !important;
    border-bottom: unset !important;
}
.clear{
    float: left;
}
.search-box{
    margin-top: 60px;
}
.update-password {
    pointer-events: none;
    font-weight:bold;
}
.manage-user-container{
    height: 900px;
    background-color: white;
}